.header {
    color: #fff;
    background-color: #528354;
    background-image: url('../img/bg-header.jpg');
    background-position: top center;
    background-size: cover;
    padding: 1.5rem 1rem 6.5rem;
}

@media screen and (max-width: 768px) {
    .header {
        padding-bottom: 3.5rem;
    }
}

.header__wrap {
    position: relative;
    max-width: 980px;
    margin: 0 auto 4.5rem;
    line-height: 5rem;
}

.logo {
    font-family: 'Myriad Pro - Bold', sans-serif;
    font-size: 32px;
}

.logo::before {
    display: inline-block;
    content: '';
    position: relative;
    top: 4px;
    width: 56px;
    height: 33px;
    margin-right: 12px;
    background-image: url('../img/logo.png');
}

.nav {
    float: right;
    font-size: 21px;
    letter-spacing: -0.36px;
}

.nav__item {
    display: inline-block;
    font-family: 'Myriad Pro - Semibold';
    line-height: 1em;
    margin: 0 0.3em;
    padding: 0.4em 0.7em;
}

@media screen and (min-width: 769px) {
    .nav__item:hover {
        border: 0.15em solid #fff;
        margin: 0 0.15em;
    }
}

#nav__ch,
.nav__button {
    display: none;
}

.nav__button::before,
.nav__button::after {
    font-size: 32px;
}

.nav__button::before {
    content: '—\0a';
}

.nav__button::after {
    content: '\0a—';
}

@media screen and (max-width: 768px) {
    .nav__button {
        display: block;
        float: right;
        font-size: 32px;
        line-height: 0.3;
        font-weight: bold;
        width: 32px;
        padding: 2.5px 0;
        margin: 16px 8px;
    }

    .nav {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1;
    }

    #nav__ch:checked~.nav {
        visibility: visible;
        opacity: 1;
        transition: all 0.4s ease;
    }

    #nav__ch:checked~.nav__button {
        font-size: 0;
        padding: 12px 0;
    }

    #nav__ch:checked~.nav__button::before,
    #nav__ch:checked~.nav__button::after {
        position: absolute;
        transition: all 0.4s ease;
        transform: rotate(-45deg);
    }

    #nav__ch:checked~.nav__button::after {
        transform: rotate(45deg);
    }

    .nav__item {
        display: block;
        padding: 0.7em;
        margin: 0;
        border-bottom: 0.1em solid black;
    }

    .nav__item:hover {
        background-color: rgba(0, 0, 0, 1.0);
    }
}

.header .melon {
    margin-top: 1.5rem;
}
