@media screen and (max-width: 1024px) {
    section {
        padding: 60px 0;
    }

    .header {
        padding-bottom: 3.5rem;
    }

    .health,
    .footer {
        padding: 3rem 0;
    }

    .header,
    .footer,
    .section__wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .plans__wrap {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .nav {
        display: none;
    }

    .melon__component {
        font-size: 18px;
        line-height: 1;
    }

    .melon__calories {
        margin-right: 100px;
    }

    .melon__calories::before {
        top: 28px;
        left: 144px;
    }

    .melon__calories::after {
        left: 119px;
    }

    .melon__protein {
        margin-left: 110px;
    }

    .melon__protein::before {
        top: 83px;
    }

    .melon__water {
        margin-left: 79px;
    }

    .melon__water::before {
        top: 31px;
    }

    .melon__fat::before {
        left: 160px;
        top: 31px;
    }

    .footer {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 640px) {
    .melon {
        /* width: 80%; */
    }
}