html {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.36px;
	background-color: #fff;
}

body {
	max-width: 1400px;
}

h1, h2 {
	font-size: 3rem;
}

section {
	padding: 6.25rem 0;
	letter-spacing: -0.72px;
}

a {
}

.header {
	color: #fff;
	background-color: #528354;
	background-image: url('../img/bg-header.webp')
}

.header__wrap {
	max-width: 976px;
	margin: 0 auto;
	line-height: 5rem;
}

.logo {
	font-family: 'Myriad Pro - Bold', sans-serif;
	font-size: 2rem;
	line-height: 1;
	letter-spacing: -1px;
}

.logo::before {
	position: relative;
	top: 0.2em;
	display: inline-block;
	content: '';
	width: 56px;
	height: 33px;
	margin-right: 12px;
	background-image: url('../img/logo.png');
}

.nav {
	float: right;
	font-size: 21px;
}

.list,
.list__item {
	display: inline-block;
	line-height: 2em;
}

.list {
	font-family: 'Myriad Pro - Semibold';	
}

.list__item {
	margin: 0 0.5em;
}

.list__item_bottom {
	padding: 0 0.8em;
	border: 3px solid #fff;
}

.title {
	font-weight: unset;
	text-align: center;
	margin-bottom: 18px;
}

.title__caption {
	text-align: center;
	margin: 11px auto;
}

.melon {
	display: block;
	margin: 0 auto;
}

.flavor .title,
.plans .title {
	color: #4e4e4e;
}

.flavor .title__caption,
.plans  .title__caption {
	color: #737070;
}

.flavor {
	background-color: #fff;
}

.health {
	color: #fff;
	background-color: #2b342b;
}

.plans,
.footer {
	background-color: #e9ede9;
}

.wrap {
	max-width: 980px;
	margin: 0 auto;
}

.plans__item {
	/* width: 30.715%; */
	width: 33.3%;
	background-color: #d3cfcf;
	text-align: center;
}

.plans__name {
	color: #afacac;
	font-size: 2rem;
	font-weight: unset;
	line-height: 90px;
	/* text-align: center; */
}

.plans__name::before {
	content: 'Hydric';
	color: #7d7b7b;
	font-family: 'Myriad Pro - Semibold';
}

.plans__price {
	color: #4e4e4e;
	font-size: 32px;
}

.plans__price .price {
	color: #b38e48;
	font-size: 32px;
}

.plans__details-bottom {
	color: #e9ede9;
	padding: 12px 18px;
	border-radius: 13px;
	background-color: #71ae5a;
}