.flavor .title,
.plans .title {
    color: #4e4e4e;
}

.flavor .title__caption,
.plans .title__caption {
    color: #737070;
}

.flavor {
    background-color: #fff;
}

.flavor .melon {
    margin: 4.5rem auto 0;
}

.health {
    color: #fff;
    padding: 6rem 0;
    background-color: #2b342b;
    position: relative;
}

.health .melon {
    margin-top: 3rem;
}

.melon__component {
    position: absolute;
    font-size: 22px;
    color: #e5e5e5;
    letter-spacing: -0.72px;
    border-bottom: 0.25rem solid;
    line-height: 0.8em;
}

.melon__component::before {
    content: '';
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    background-image: url('../img/melon-shape.png');
    background-size: cover;
}

.melon__protein::after,
.melon__calories::after {
    position: relative;
    content: '';
    display: block;
    border-bottom: 0.2em solid;
    top: 4px;
}

.melon__protein {
    left: 50%;
    bottom: 50%;
    text-align: right;
    margin-left: 170px;
    padding-left: 20px;
    border-color: #d4fa7a;
}

.melon__protein::before {
    top: 81px;
    right: 99px;
    width: 30px;
    height: 30px;
}

.melon__protein::after {
    border-color: #d4fa7a;
    width: 65px;
    right: 85px;
    transform: rotate(-33deg);
    transform-origin: 65px 0;
}

.melon__water {
    bottom: 20%;
    left: 50%;
    text-align: right;
    margin-left: 82px;
    padding-left: 67px;
    border-color: #8cdbf2;
}

.melon__water::before {
    top: 31px;
    right: 90px;
}

.melon__calories {
    margin-right: 155px;
    padding-right: 20px;
    right: 50%;
    bottom: 26.5%;
    border-color: #fd6363;
}

.melon__calories::before {
    width: 32px;
    height: 32px;
    top: 26px;
    left: 168px;
}

.melon__calories::after {
    border-color: #fd6363;
    width: 27px;
    left: 143px;
    transform: rotate(-19deg);
    transform-origin: 0 0;
}

.melon__fat {
    right: 50%;
    bottom: 4%;
    margin-right: 12px;
    padding-right: 100px;
    border-color: #fef45a;
}

.melon__fat::before {
    top: 31px;
    left: 174px;
}

@media screen and (max-width: 768px) {
    .health {
        padding: 3rem 0;
    }

    .melon__component {
        font-size: 18px;
        line-height: 1;
    }

    .melon__calories::before {
        top: 28px;
        left: 144px;
    }

    .melon__calories::after {
        left: 119px;
    }

    .melon__protein::before {
        top: 83px;
    }

    .melon__water::before {
        top: 31px;
    }

    .melon__fat::before {
        left: 160px;
        top: 31px;
    }
}

@media screen and (max-width: 640px) {
    .melon__calories {
        margin-right: 100px;
    }

    .melon__protein {
        margin-left: 110px;
    }

    .melon__water {
        margin-left: 79px;
    }
}

@media screen and (max-width: 480px) {
    .melon__component {
        position: relative;
        left: 0;
        margin: 0;
        margin-left: 15%;
        padding: 0;
        text-align: left;
        border: none;
    }

    .melon__component::before {
        left: auto;
        right: 2em;
        top: 18px;
        width: 20px;
        height: 20px;
    }

    .melon__component::after {
        display: none;
    }
}

.plans {
    padding-bottom: 1rem;
    background-color: #e9ede9;
}

.plans__wrap {
    max-width: 980px;
    font-size: 0;
    text-align: center;
    margin: 3rem auto;
}

@media screen and (max-width: 768px) {
    .plans__wrap {
        margin: 0 auto;
    }
}

.plans__item {
    display: inline-block;
    font-size: 1rem;
    width: 31%;
    margin: 3rem 1%;
    background-color: #d3cfcf;
    text-align: center;
    padding: 2em 0 2.5em;
}

@media screen and (max-width: 480px) {
    .plans__item {
        width: 100%;
        max-width: 230px;
        margin: 1em 0;
        padding: 2em 0 1em;
    }
}

.plans__title {
    color: #afacac;
    font-size: 2rem;
    margin: 0 0 1.25em;
}

.plans__title b {
    color: #7d7b7b;
    font-family: 'Myriad Pro - Semibold';
}

.plans__price {
    color: #4e4e4e;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: -0.72px;
    margin-bottom: 0.75em;
}

.plans__price .price {
    color: #b38e48;
    font-size: 32px;
}

.plans__details-buttom {
    display: inline-block;
    color: #e9ede9;
    padding: 11px 18px;
    border-radius: 13px;
    background-color: #71ae5a;
}

.plans__details-buttom:hover {
    background-color: #6BC04B;
}