html {
  // min-width: 320px;
  background-color: #fff;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

@media screen and (max-width: 639px) {
  font-size: 14px;
}
}


p {
  margin: 0;
}


a {
  color: inherit; 
  text-decoration: none;
}

h1,
h2,
h4 {
  font-size: 3rem;
  font-weight: unset;
  margin: 0 0 0.75rem;
}


h1 {
  margin-bottom: 2.5rem;
}


img {
  max-width: 100%;
}


.wrapper {
  overflow: hidden;
}


@mixin conteiner ($padding-y: 6rem, $padding-x: 12px) {
  max-width: 976px;
  margin: 0 auto;
  padding: $padding-y $padding-x;

@media screen and (max-width: 767px) {
  padding: $padding-y/3 $padding-x;
}
}

.container {
  @include conteiner;
}


.title {
  text-align: center;
  letter-spacing: -1.1px;
  line-height: 1;
}


.title__caption {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 2rem;

@media screen and (min-width: 768px) {
  padding-bottom: 4rem;
}
}


.melon {
  display: block;
  margin: 0 auto;
}


.up {
  display: block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #71ae5a;
  position: fixed;
  right: 12px;
  bottom: 12px;
  font-size: 14px;

&::before {
  content: '';
  font-size: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #e9ede9;
  position: relative;
  left: 15px;
}

&:hover {
  background-color: #6BC04B;
}
}