@font-face {
    font-family: 'Myriad Pro';
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-display: block;    // blank for 3s, then fallback font. use font when download completes
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: 'Myriad Pro - Italic';
    src: url("../fonts/MyriadProItalic.eot");
    src: url("../fonts/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProItalic.woff") format("woff"),
    url("../fonts/MyriadProItalic.ttf") format("truetype");
    font-display: block;    // blank for 3s, then fallback font. use font when download completes
    font-weight: 400;
    font-style: italic;
}



@font-face {
    font-family: 'Myriad Pro - Semibold';
    src: url("../fonts/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold.ttf") format("truetype");
    font-display: swap;    // show fallback font immediately. use font when download completes
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'Myriad Pro - Semibold Italic';
    src: url("../fonts/MyriadProSemiBoldItalic.eot");
    src: url("../fonts/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-display: swap;    // show fallback font immediately. use font when download completes
    font-weight: 600;
    font-style: italic;
}



@font-face {
    font-family: 'Myriad Pro - Bold';
    src: url("../fonts/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Myriad Pro - Bold Italic';
    src: url("../fonts/MyriadProBoldItalic.eot");
    src: url("../fonts/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBoldItalic.woff") format("woff"),
    url("../fonts/MyriadProBoldItalic.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}