.footer {
  background-color: #e9ede9;
  color: #747373;
  // font-size: 16px;
}

.footer .container {
  @media screen and (max-width: 767px) {
    padding: 0 12px;
  }
}

.footer__link {
  font-family: 'Myriad Pro - Semibold', 'Myriad Pro', sans-serif;
  font-weight: 600;

  @media screen and (max-width: 479px) {
    display: block;
    padding: 0.25em 0.5em;
    border-bottom: 2px solid;
  }

  @media screen and (min-width: 480px) {
    font-size: 18px;
    margin-right: 1.5rem;
  }

  &:hover {
    text-decoration: underline;
    background-color: #d3cfcf;
  }
}

.copyright {
  color: #958f8f;
  line-height: 2;

  @media all and (max-width: 767px) {
    padding: 0.5rem 0;
  }
}