.header {
	color: #fff;
	background-color: #518455;
	background-image: url('../img/bg-header.png');
	background-position: bottom center;
	background-size: cover;

	&__container {
		@include conteiner (0);
		padding-top: 2rem;
		line-height: 3rem;
	    display: flex;
	    justify-content: space-between;
	}

	&__content {
		@include conteiner;
	}
}

.logo {
	font-family: 'Myriad Pro - Bold', sans-serif;
	font-size: 32px;
	line-height: 1.5;
	padding: 0 12px;
	position: relative;
	left: 56px;

		&::before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: -56px;
		width: 56px;
		height: 1.5em;
		background: url('../img/logo.png') center no-repeat;
	}
}


