.nav {
  font-family: 'Myriad Pro - Semibold', 'Myriad Pro', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.65;
  letter-spacing: -1px;

  @media all and (min-width: 768px) {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    // max-width: 34rem;
  }
  @media all and (max-width: 767px) {
    visibility: hidden;
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    z-index: 500;
    background-color: #528354f2;

    .nav-state:checked ~ & {
      visibility: visible;
    }
  }
}

.nav__item {
  padding: 0 16px;
  box-sizing: border-box;
  border: 2px solid #fff0;
  transition: border-color 0.4s cubic-bezier(0, 0.7, 0.5, 1.15);

  @media all and (min-width: 768px) {
    margin-right: 0.5em;
    
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: #fff;
    }
  }
  
  @media all and (max-width: 767px) {
    display: block;
    text-align: right;
  }
}