.footer {
    background-color: #e9ede9;
    color: #747373;
    font-size: 18px;
    padding: 6rem 1rem;
}

.footer__wrap {
    max-width: 980px;
    margin: 0 auto;
}

.footer__link {
    display: inline-block;
    font-family: 'Myriad Pro - Semibold';
    margin-right: 30px;
}

.footer__link:hover {
    text-decoration: underline;
}

.copyright {
    color: #958f8f;
    line-height: 2;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 1rem 1rem 0;
    }
}

@media screen and (max-width: 640px) {
    .footer__link {
        display: block;
        padding: 0.5em 1em;
        border-bottom: 0.1em solid;
    }

    .footer__link:hover {
        text-decoration: none;
        background-color: #d3cfcf;
    }

    .copyright {
        font-size: 1rem;
        line-height: 2;
        padding-top: 3rem;
    }
}